In [1]:
import pandas as pd

In [3]:
car=pd.read_csv('quikr_car - quikr_car.csv')

In [21]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

# DATASET CLEANING

In [7]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [8]:
car=car[car['year'].str.isnumeric()]
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: object

In [9]:
car['year']=car['year'].astype(int)
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [41]:
car=car[car['Price']!='Ask For Price']
car['Price']=car['Price'].str.replace(',','').astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_2916\975097728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','').astype(int)

In [38]:
car['Price']=car['Price'].str.replace(',','')

In [42]:
car['Price'].astype(int)

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
883    270000
885    110000
886    300000
888    260000
889    390000
Name: Price, Length: 816, dtype: int32

In [44]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

AttributeError: Can only use .str accessor with string values!

In [46]:
car=car[car['kms_driven'].str.isnumeric()]

AttributeError: Can only use .str accessor with string values!

In [47]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_2916\3293572517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [48]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [19]:
car=car[~car['fuel_type'].isna()]
car['fuel_type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
883    Petrol
885    Diesel
886    Petrol
888    Diesel
889    Diesel
Name: fuel_type, Length: 837, dtype: object

In [20]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

C:\Users\HP\AppData\Local\Temp\ipykernel_2916\3677590539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [35]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing,Hyundai,2007,"80,000",45000,Petrol
1,Mahindra Jeep CL550,Mahindra,2006,"4,25,000",40,Diesel
2,Maruti Suzuki Alto,Maruti,2018,Ask For Price,22000,Petrol
3,Hyundai Grand i10,Hyundai,2014,"3,25,000",28000,Petrol
4,Ford EcoSport Titanium,Ford,2014,"5,75,000",36000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz,Maruti,2011,"2,70,000",50000,Petrol
885,Tata Indica V2,Tata,2009,"1,10,000",30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,"3,00,000",132000,Petrol
888,Tata Zest XM,Tata,2018,"2,60,000",27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000",40000,Diesel

In [22]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing,Hyundai,2007,"80,000",45000,Petrol
1,Mahindra Jeep CL550,Mahindra,2006,"4,25,000",40,Diesel
2,Maruti Suzuki Alto,Maruti,2018,Ask For Price,22000,Petrol
3,Hyundai Grand i10,Hyundai,2014,"3,25,000",28000,Petrol
4,Ford EcoSport Titanium,Ford,2014,"5,75,000",36000,Diesel
...,...,...,...,...,...,...
832,Maruti Suzuki Ritz,Maruti,2011,"2,70,000",50000,Petrol
833,Tata Indica V2,Tata,2009,"1,10,000",30000,Diesel
834,Toyota Corolla Altis,Toyota,2009,"3,00,000",132000,Petrol
835,Tata Zest XM,Tata,2018,"2,60,000",27000,Diesel
836,Mahindra Quanto C8,Mahindra,2013,"3,90,000",40000,Diesel

In [23]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        837 non-null    object
 1   company     837 non-null    object
 2   year        837 non-null    int32
 3   Price       837 non-null    object
 4   kms_driven  837 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.5+ KB

In [24]:
car.describe()

              year
count   837.000000
mean   2012.513740
std       4.028174
min    1995.000000
25%    2010.000000
50%    2013.000000
75%    2015.000000
max    2019.000000

In [50]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [51]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [27]:
car.to_csv('Cleaned quikr Data.csv')

PermissionError: [Errno 13] Permission denied: 'Cleaned quikr Data.csv'


# MODEL

In [52]:
X=car.drop(columns='Price')
X
Y=car['Price']
Y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [53]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_Train,Y_test= train_test_split(X,Y,test_size=0.2)

In [63]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [65]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [77]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])
columns_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [78]:
lr=LinearRegression()
pipe=make_pipeline(columns_trans,lr)

In [79]:
pipe.fit(X_train,Y_Train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [80]:
y_pred=pipe.predict(X_test)

In [81]:
y_pred

array([ 585060.43510729,  551047.96429027,  413283.73796681,
        406313.71589792,  -18630.80501769,  635941.96405749,
        113145.98325908,  383386.69248463,  336782.16036767,
        289136.13915374,  205549.30006069,   28358.50741392,
         39039.32777626,  303988.83417739,   45889.36544278,
        277951.51914913,  170929.16157211,  369991.57572167,
        318853.09647081,  335763.54763839,  658437.91093259,
         67843.41971594,  272251.80573261, 2226927.16738521,
        308419.59726457,  212905.60180236, 1423137.55610544,
        371278.1929015 ,  690144.62717777,  389032.84767488,
        150819.2967633 ,  357502.11744194,  213836.32523306,
        209892.54983833,  194556.17406905,  660465.7263615 ,
        217570.40547405,  459363.15953515,  601122.09842894,
        656406.55920958,  472409.29437754,  155438.57689673,
        306296.7162547 , 1823569.28158131,  432032.32884015,
        175825.63044246,  619675.83223607,  316092.84940017,
        -90587.5998042 ,  332998.62320043,  445620.59108248,
        467315.90598164,  514034.76289003,  307892.40472558,
        272019.98802368,  -11098.33839338,  439387.95813473,
        231214.23490252,  363175.46185563,  447824.38884749,
        154209.63790554, 2227269.5675481 ,  296061.56171001,
        309956.23718763,  326329.38143247,  395765.97806924,
        692526.36271079,  -76923.14827059,  698234.77664465,
        286125.06320391,   43492.93157248,  141168.38581497,
        414900.73157755,  159295.45094731,  302695.58734812,
        273388.24214761,  106532.06578266,  122599.71624167,
        306838.22287881,  712512.56540205,  939537.89517748,
        593806.32166333,  475798.36735355,  521375.69892159,
        875577.29877128,  709088.56377322,  248897.94649339,
         31084.33891867, 1586513.79349294,  132329.68796761,
        383245.57654026,  391630.37669179,  596209.70412713,
        501655.75317281,  543028.15620253,  417957.28718946,
        710746.21647983,  251500.34315022,  542637.06085043,
        627625.24011737,  596968.1341154 ,  468433.78151862,
        303488.96544971,  261773.50760359,  330782.96700946,
        176800.99743078,  558019.0623435 ,  345837.34829056,
        241141.43691956,  428005.67836563,  648536.26519449,
        696385.81576508,  477991.84890527,  490197.72906313,
        317013.94060609,  504768.89562918,  551047.96429027,
        486726.7671705 ,  600569.50934725,  375247.34266692,
        385412.60789784,  498368.37270852,  213183.07988901,
        330249.60650474,  238762.98762162,  316106.84382819,
        339509.77837965,  370934.23954264,  407475.28224096,
        428005.67836563,  332946.85473956, 1039412.69859178,
        752332.48033183,  338103.28332178,   96057.53009664,
        560235.44910363,  513367.34697963,  319516.851029  ,
        487691.61322258,  254426.02503026,  360858.64153612,
        435254.1870503 ,  168284.75652643,  523593.43234816,
        219561.99492353,  449925.43237954,   82647.21533686,
        105933.28952911,  214850.76542298, 1123681.01017062,
        250267.54714492,  342768.50712334,  566575.68975646,
        277951.51914913,  279574.45905941,  623062.26174736,
        399501.51196986,  447390.39605904,  338103.28332178,
         95658.42152642,  293811.49702527,   70571.17580367,
        607324.68579869])

In [82]:
r2_score(Y_test,y_pred)

0.6937718842900353